.skill-highlight {
  animation-duration: 3000ms;
  animation-name: skill-highlight;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes skill-highlight {
  from {
    color: var(--link-color);
  }

  70% {
    color: var(--link-color);
  }

  to {
    color: inherit;
  }
}

@media print {
  .skill-highlight {
    color: inherit !important;
  }
}
