.skills {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.skills h2 {
  margin-bottom: 0.1em;
}

.skills-content {
  margin: 0;
}

.skill-group {
  margin-right: 1em;
  display: inline;
}

.skill-item {
  display: inline;
}

.skill-highlight--perpetual {
  color: var(--link-color);
}

.skill-highlight--expiring {
  animation-duration: 5000ms;
  animation-name: skill-highlight;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes skill-highlight {
  from {
    color: var(--link-color);
  }

  50% {
    color: var(--link-color);
  }

  to {
    color: inherit;
  }
}
