---
import { getCollection } from "astro:content";
import PageLayout from "~/layouts/Page.astro";
import Experience from "~/components/Experience/Experience.astro";
import ResumeHeader from "~/components/ResumeHeader/ResumeHeader.astro";
import { Skills } from "~/components/Skills/Skills";
import { SkillsNotificationQueue } from "~/features/skillsNotification/SkillsNotificationQueue";
import { SkillsNotificationToast } from "~/features/skillsNotification/SkillsNotificationToast";

// This import is needed here because importing styles doesn't work if the component is being rendered inside of .mdx files.
import "~/features/skillsNotification/SkillsNotificationButton.css";

const experiences = await getCollection("experience");
experiences.sort(
  (a, b) => b.data.startDate.getTime() - a.data.startDate.getTime(),
);
---

<PageLayout>
  <ResumeHeader />

  <SkillsNotificationQueue client:only />

  <section class="content">
    <Skills client:load />

    <section class="experiences">
      <h2>Experience</h2>

      {experiences.map((experience) => <Experience experience={experience} />)}
    </section>

    <section class="education">
      <h2>Education</h2>
      <h3>University of Illinois at Urbana-Champaign</h3>
      <p>Bachelor of Science in Biochemistry</p>
    </section>
  </section>

  <SkillsNotificationToast client:only />
</PageLayout>

<style>
  .content {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding-bottom: 2em;
  }
</style>
