---
import { ResumeHeader } from "../components/ResumeHeader/ResumeHeader";
import { Experience } from "../components/Experience/Experience";
import type { Props as ExperienceProps } from "../components/Experience/Experience";
import PageLayout from "../layouts/Page.astro";

const globs = await Astro.glob<Omit<ExperienceProps, "html">>(
  "../content/experience/*.md",
);
const experiencesMarkdown = globs.map((glob) => ({
  ...glob.frontmatter,
  html: glob.compiledContent(),
}));
experiencesMarkdown.sort(
  (a, b) => new Date(b.startDate).getTime() - new Date(a.startDate).getTime(),
);
---

<PageLayout>
  <ResumeHeader />

  <section class="content">
    <section class="content--main">
      <section class="experiences">
        <h2>Experience</h2>

        {
          experiencesMarkdown.map((experience) => (
            <Experience client:load {...experience} />
          ))
        }
      </section>

      <section class="education">
        <h2>Education</h2>
        <h3>University of Illinois at Urbana-Champaign</h3>
        <p>Bachelor of Science in Biochemistry</p>
      </section>
    </section>

    <section class="content--skills">
      <h2>Skills</h2>

      <h4>Front-end</h4>
      <ul>
        <li>TypeScript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>Amplitude</li>
      </ul>

      <h4>Back-end</h4>
      <ul>
        <li>Java (Guice)</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>Hibernate ORM</li>
      </ul>

      <h4>Client/Server</h4>
      <ul>
        <li>GraphQL (Apollo)</li>
        <li>WebSockets</li>
        <li>Service Workers</li>
        <li>REST</li>
      </ul>

      <h4>Testing</h4>
      <ul>
        <li>Jest</li>
        <li><code>testing-library</code></li>
        <li>JUnit</li>
        <li>Selenium</li>
      </ul>

      <h4>Infrastructure</h4>
      <ul>
        <li>Kubernetes</li>
        <li>Docker</li>
        <li>Helm</li>
        <li>Terraform</li>
        <li>Ansible</li>
        <li>Prometheus</li>
      </ul>
    </section>
  </section>
</PageLayout>

<style>
  .content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
  }

  .content--main {
    /* ~100 characters per line, for readability. 80em is optimal for readability, but harder to work with layout-wise. */
    max-width: 45em;
  }

  .content--skills {
    margin-left: 2em;
    margin-right: 1em;

    height: 100%;
    position: sticky;
    top: 0;
  }
  .content--skills h2 {
    margin-bottom: 0;
  }
  .content--skills h4 {
    margin-top: 2em;
    margin-bottom: 0;
  }
  .content--skills h2 + h4 {
    margin-top: 1em;
  }
  .content--skills ul {
    padding-left: 1em;
    list-style-type: none;
  }

  @media (max-width: 540px) {
    .content--skills {
      display: none;
    }
  }

  @media print {
    .content--main {
      max-width: 40em;
    }
  }
</style>
