---
import { getCollection } from "astro:content";
import PageLayout from "~/layouts/Page.astro";
import Experience from "~/components/Experience/Experience.astro";
import ResumeHeader from "~/components/ResumeHeader/ResumeHeader.astro";
import { SkillsList } from "~/components/SkillsList/SkillsList";
import { SkillsNotificationQueue } from "~/features/skillsNotification/SkillsNotificationQueue";
import { SkillsNotificationToast } from "~/features/skillsNotification/SkillsNotificationToast";

// This import is needed here because importing styles doesn't work if the component is being rendered inside of .mdx files.
import "~/features/skillsNotification/SkillsNotificationButton.css";

const experiences = await getCollection("experience");
experiences.sort(
  (a, b) => b.data.startDate.getTime() - a.data.startDate.getTime(),
);
---

<PageLayout>
  <ResumeHeader />

  <SkillsNotificationQueue client:only />

  <section class="content">
    <section class="content--main">
      <section class="experiences">
        <h2>Experience</h2>

        {
          experiences.map((experience) => (
            <Experience experience={experience} />
          ))
        }
      </section>

      <section class="education">
        <h2>Education</h2>
        <h3>University of Illinois at Urbana-Champaign</h3>
        <p>Bachelor of Science in Biochemistry</p>
      </section>
    </section>

    <section class="content--skills">
      <h2>Skills</h2>

      <SkillsList
        client:load
        title="AI"
        skillNames={["Claude Code", "Cursor AI", "OpenAI"]}
      />

      <SkillsList
        client:load
        title="Front-end"
        skillNames={["TypeScript", "React", "Next.js"]}
      />

      <SkillsList
        client:load
        title="Back-end"
        skillNames={[
          "Node.js",
          "NestJS",
          "PostgreSQL",
          "Redis",
          "Java + Hibernate",
          "MySQL",
        ]}
      />

      <SkillsList
        client:load
        title="Server/Client"
        skillNames={[
          "WebSockets",
          "GraphQL (Apollo)",
          "Service Workers",
          "REST",
        ]}
      />

      <SkillsList
        client:load
        title="Testing"
        skillNames={[
          "Jest",
          "testing-library",
          "vitest",
          "Playwright",
          "JUnit",
          "Selenium",
        ]}
      />

      <SkillsList
        client:load
        title="Infrastructure"
        skillNames={[
          "Terraform",
          "Docker",
          "Github Actions / CI+CD",
          "Amazon AWS",
          "Datadog",
          "Kubernetes",
          "Helm",
          "Ansible",
          "Prometheus",
          "Google Cloud",
        ]}
      />
    </section>
  </section>

  <SkillsNotificationToast client:only />
</PageLayout>

<style>
  .content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
  }

  .content--main {
    /* ~100 characters per line, for readability. 80em is optimal for readability, but harder to work with layout-wise. */
    max-width: 45em;
  }

  .content--skills {
    margin-left: 2em;
    margin-right: 1em;

    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;
  }
  .content--skills h2 {
    margin-bottom: 0;
  }

  @media (max-width: 540px) {
    .content--skills {
      display: none;
    }
  }

  @media print {
    .content--main {
      max-width: 40em;
    }
  }
</style>
