---
import Page from '../layouts/Page.astro';
import { ResumeHeader } from '../components/ResumeHeader';
---

<Page title="Kai Yao’s resumé">
	<main>
		<ResumeHeader />
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
	</main>
</Page>

<style>
	main {
		margin: 0 auto;
		width: 8in;

		color: white;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;
	}
</style>
