---
import PageLayout from "../layouts/Page.astro";
import { Experience } from "../components/Experience/Experience";
import type { Props as ExperienceProps } from "../components/Experience/Experience";
import { ResumeHeader } from "../components/ResumeHeader/ResumeHeader";
import { Skills } from "../components/Skills/Skills";

const globs = await Astro.glob<Omit<ExperienceProps, "html">>(
  "../content/experience/*.md",
);
const experiences = globs.map((glob) => ({
  ...glob.frontmatter,
  html: glob.compiledContent(),
}));
experiences.sort(
  (a, b) => new Date(b.startDate).getTime() - new Date(a.startDate).getTime(),
);
---

<PageLayout>
  <ResumeHeader />

  <section class="content">
    <section class="content--main">
      <section class="experiences">
        <h2>Experience</h2>

        {
          experiences.map((experience) => (
            <Experience client:load {...experience} />
          ))
        }
      </section>

      <section class="education">
        <h2>Education</h2>
        <h3>University of Illinois at Urbana-Champaign</h3>
        <p>Bachelor of Science in Biochemistry</p>
      </section>
    </section>

    <section class="content--skills">
      <h2>Skills</h2>

      <Skills
        title="Front-end"
        skillNames={["TypeScript", "React", "Node.js", "Amplitude"]}
      />

      <Skills
        title="Back-end"
        skillNames={["Java (Guice)", "MySQL", "PostgreSQL", "Hibernate ORM"]}
      />

      <Skills
        title="Server/Client"
        skillNames={[
          "GraphQL (Apollo)",
          "WebSockets",
          "Service Workers",
          "REST",
        ]}
      />

      <Skills
        title="Testing"
        skillNames={[
          "Jest",
          "testing-library",
          "JUnit",
          "Selenium",
        ]}
      />

      <Skills
        title="Infrastructure"
        skillNames={[
          "Kubernetes",
          "Docker",
          "Helm",
          "Terraform",
          "Ansible",
          "Prometheus",
        ]}
      />
    </section>
  </section>
</PageLayout>

<style>
  .content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
  }

  .content--main {
    /* ~100 characters per line, for readability. 80em is optimal for readability, but harder to work with layout-wise. */
    max-width: 45em;
  }

  .content--skills {
    margin-left: 2em;
    margin-right: 1em;

    height: 100%;
    position: sticky;
    top: 0;
  }
  .content--skills h2 {
    margin-bottom: 0;
  }

  @media (max-width: 540px) {
    .content--skills {
      display: none;
    }
  }

  @media print {
    .content--main {
      max-width: 40em;
    }
  }
</style>
