header {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #fff;
}

.header-title-area {
  display: flex;
  align-items: flex-end;
}

/* To get name + title to align */
.name,
.job-title {
  margin-bottom: 0;
  line-height: 1;
  font-weight: 500;
}

.name {
  font-size: 24pt;
}

.job-title {
  margin-left: 1em;

  position: relative;
  bottom: 2.3pt;
}

.contact-info {
  align-self: flex-end;
}

.email,
.phone {
  margin: 0;
  text-align: right;
}
