---
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Avenir";
    src: url("/fonts/avenire.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-size: 10pt;
    line-height: 1.4;

    font-family: "Avenir";
    background: #13151a;
    background-size: 224px;
  }

  body {
    margin: 1em 2em;
  }

  div,
  p {
    box-sizing: border-box;
  }

  a {
    color: #fff;
  }
  a:hover {
    color: lightblue;
  }

  main {
    margin: 0 auto;
    width: 8in;

    color: white;
  }

  h1, h2, h3 {
    font-weight: 500;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    margin-top: 2em;
    font-size: 12pt;
  }

  h3 {
    font-size: 10pt;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }

  ul {
    padding-left: 1.5em;
  }

  /* code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	} */
</style>
